#box{
  color: red;
}
.test-div{
  width: 200px;
  height: 200px;
  background-image: url("../image/slider3.jpg");
}
::placeholder{
  color: red;
}
.ffff{
  color: red;
}
.test-text{
  color: blue;
}
.div1{
  color: red;
}
