<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    <div>
      {{firstName}}+{{lastName}} = {{fullName}}
    </div>
  </div>
  <script>
    new Vue({
      el:"#app",
      data:{
        firstName: 'Foo',
        lastName: 'Bar',
        fullName: 'Foo Bar'
      },
      watch: {
        firstName(val,oldVal){
          console.log(val,oldVal);
          this.fullName = val + this.lastName;
        },
        lastName(val){
          this.fullName = this.firstName + val;
        }
      },
    })
  </script>
</body>
</html>